.cards-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;

  .card {
    max-width: 500px;
    margin: 30px;
    position: static;
    border-radius: 20px;

    .title {
      color: gray;
    }
    .subtitle {
      color: gray;
    }
  }

  .card-content {
    text-align: center;

    .cou-ico {
      font-size: 5rem;
      margin: 20px;
    }
    .subtitle {
      text-align: justify;
      padding: 20px;
    }
  }
}
