.side-bar {
  display: none;
  flex-direction: column;
  background-color: rgb(49, 49, 49);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: ease-in-out;
  z-index: 100;

  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.3rem;
  }

  li {
    margin: 20px 0px;
    font-size: 1.5rem;

    a {
      color: gray;

      &:hover {
        color: white;
      }
    }
  }
}
